@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* ------------------------------------- */
/* Generic styles ................... */
/* ------------------------------------- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0072ff; }

h1 {
  font-size: 2.369em;
  font-weight: 300;
  margin-bottom: 20px; }

h2 {
  font-size: 1.777em;
  font-weight: 400;
  margin-bottom: 20px; }

h3 {
  font-size: 1.333em;
  font-weight: 400;
  margin-bottom: 10px; }

h4 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px; }

h5 {
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 10px; }

h6 {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px; }
  
/* Buttons*/
.fly {
  position: fixed;
  z-index: 6;
  top: 50px;
  left: -160px;
  transition-delay: .3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
  z-index: 9; }
  .fly a {
    padding: 0 !important;
    height: 50px;
    line-height: 50px;
    text-align: center; }
    .fly a i {
      font-size: 1.5em; }
      .fly a i.ion-close-round {
        font-size: 1.4em; }
    .fly a#subs {
      position: absolute;
      top: 55px;
      width: 50px; }
    .fly a#info {
      width: 50px; }
      .fly a#info i {
        padding-right: 0 !important; }

.btn-play {
  position: relative;
  background: #fff;
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 90px;
  font-size: 36px; }
  .btn-play i {
    color: #20222B; }

#play {
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  top: calc( 50% - 45px); }

.btn-light {
  display: inline-block;
  background: transparent;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 0.75em;
  text-align: center;
  padding: 0.9375em 3.125em; }
  .btn-light:hover:hover {
    color: #20222B;
    background: #fff;
    border-color: #fff; }

.btn-solid, .btn-solid-dark {
  letter-spacing: 1px;
  display: inline-block;
  background: #F61067;
  color: #fff;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #F61067;
  font-weight: 600;
  font-size: 0.75em;
  text-align: center;
  padding: 0.9375em 3.125em; }
  .btn-solid:focus, .btn-solid-dark:focus {
    background: #F61067; }
  .btn-solid:hover, .btn-solid-dark:hover {
    background: #e4095c; }

.btn-solid-dark {
  background: #20222B;
  border-color: #20222B; }
  .btn-solid-dark:hover {
    background: #15161c; }
  .btn-solid-dark:focus {
    background: #20222B; }

.round {
  border-radius: 35px; }

.round-rec {
  border-radius: 10px; }

.round-left {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; }

.btn-nb {
  letter-spacing: 1px;
  display: inline-block;
  background: transparent;
  color: #fff;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  padding: 0.9375em 1.5625em; }
  .btn-nb:hover:hover {
    color: #20222B;
    background: #fff;
    border-color: #fff; }

.btn-fly {
  position: fixed;
  top: 50px;
  z-index: 10;
  font-size: 20px;
  font-size: 15px;
  line-height: 15px;
  right: 70px; }

.btn-subscribe {
  right: 25px;
  padding: 0.9375em 0.625em; }

.btn-info {
  background: transparent;
  padding-right: 0;
  display: table;
  right: 50px;
  height: 30px;
  width: 30px;
  padding: 0;
  font-size: 24px;
  text-align: center; }
  .btn-info i {
    display: table-cell;
    vertical-align: middle; }

input:focus {
  outline: none !important; }

textarea:focus {
  outline: none !important; }

button:focus {
  outline: none !important; }

.filled {
  background: #fff;
  color: #673FB4;
  font-weight: 700;
  display: inline-block;
  padding: 5px 10px; }

.uppercase {
  text-transform: uppercase; }

li {
  list-style: none; }

ul {
  padding: 0; }

/* Margins */
.mt40 {
  margin-top: 40px; }
  
.mr20 {
  margin-right: 20px; }

#particles-css {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.gradient {
  -webkit-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  -ms-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  -moz-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  -o-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95)); }

/* ------------------------------------- */
/* Home ................... */
/* ------------------------------------- */
#home, #homeCenter {
  width: 100%;
  height: 100%;
  z-index: 1; }

.h-content {
  position: relative;
  z-index: 0;
  top: 32vh;
  width: 10px 100%;
  padding: 10px 10%;
  color: #fff; }

.h-content-fullwidth {
  position: relative;
  z-index: 0;
  top: 36vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }

.main-logo {
  position: absolute;
  top: 8%;
  max-width: 150px;
  left: 10%; }

/* ------------------------------------- */
/* Plugin styles ................... */
/* ------------------------------------- */
/* Particles */
#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1; }