@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* ------------------------------------- */
/* Generic styles ................... */
/* ------------------------------------- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0072ff; }

h1 {
  font-size: 2.369em;
  font-weight: 300;
  margin-bottom: 20px; }

h2 {
  font-size: 1.777em;
  font-weight: 400;
  margin-bottom: 20px; }

h3 {
  font-size: 1.333em;
  font-weight: 400;
  margin-bottom: 10px; }

h4 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px; }

h5 {
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 10px; }

h6 {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px; }

#particles-css {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.gradient {
  -webkit-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  -ms-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  -moz-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  -o-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
  background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95)); }

/* ------------------------------------- */
/* Home ................... */
/* ------------------------------------- */
#home, #homeCenter {
  width: 100%;
  height: 100%;
  z-index: 1; }

.h-content {
  position: relative;
  z-index: 0;
  top: 32vh;
  width: 10px 100%;
  padding: 10px 10%;
  color: #fff; }

.h-content-fullwidth {
  position: relative;
  z-index: 0;
  top: 36vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }

.main-logo {
  position: absolute;
  top: 8%;
  max-width: 150px;
  left: 10%; }

/* ------------------------------------- */
/* Plugin styles ................... */
/* ------------------------------------- */
/* Particles */
#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1; }