<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <!-- development version, includes helpful console warnings -->
    <!-- <slot v-if="showPanel"></slot>{{ github }} -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <p v-if="showPanel">{{ message }}</p>
      <p v-else>ASD</p>
      <p v-if="showPanel">{{ github }}</p>
      <p v-else>CHAU</p>
      <p>{{ showPanel }}</p>

      <button
        v-on:click="
        showPanel == false
        ? showPanel=true
        : showPanel=false
        "
      >
        Press me
      </button>
    </div>
    <script src="src/app.js"></script>
  </body>
</html>
